<div class="table-header">
    <h2 class="os-title">LISTADO DE CATEGORIAS</h2>
    <button class="os-button" mat-raised-button color="primary" (click)="onNavigateCreatePost()">Nueva Categoria</button>
  </div>
  
  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Columnas de la tabla -->
      <ng-container matColumnDef="idtipopro">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let row">{{ row.idtipopro }}</td>
      </ng-container>
      <ng-container matColumnDef="desctipopro">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Categoria</th>
        <td mat-cell *matCellDef="let row">{{ row.desctipopro }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>ACCIONES</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button matTooltip="Editar" (click)="onNavigatePostDetail(row.idproducto)">
            <mat-icon>edit</mat-icon>
          </button>
          <!--button mat-icon-button matTooltip="Eliminar" (click)="eliminar(row)">
            <mat-icon>delete</mat-icon>
          </button-->
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[10, 20, 30, 50]" showFirstLastButtons></mat-paginator>
  
  