
  <mat-toolbar color="" class="navigation-content">
    <img src="../../assets/logo-callaopets.png" alt="Logo" class="logo">
    <button mat-button (click)="irPortada()">Portada</button>
    &nbsp;&nbsp;
    <button mat-button (click)="irNosotros()">Quienes Somos</button>
    &nbsp;&nbsp;
    <button mat-button (click)="irContacto()">Contáctenos</button>
  
    <div *ngIf="estaLogeado()">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="irModUsuario()"> Gestionar Usuarios </button>
      </mat-menu>
    </div>

    <div *ngIf="estaLogeado()">
      <button mat-icon-button [matMenuTriggerFor]="menuProductos">
        <mat-icon>shopping_basket</mat-icon>
      </button>
      <mat-menu #menuProductos="matMenu">
        <button mat-menu-item (click)="irModProducto()">Gestionar Productos</button>
        <button mat-menu-item (click)="irModCategoria()">Gestionar Categorías</button>
      </mat-menu>
    </div>

        <!-- Menú desplegable para la sección de Reportes -->
        <div *ngIf="estaLogeado()">
          <button mat-icon-button [matMenuTriggerFor]="menuReportes">
            <mat-icon>assessment</mat-icon>
          </button>
          <mat-menu #menuReportes="matMenu">
            <button mat-menu-item (click)="irVenta()">Reporte de Ventas</button>
          </mat-menu>
        </div>
        
        
        
        <span class="example-spacer"></span>
        <div *ngIf="estaLogeado()">
          <span>Bienvenido, {{ nombreUsuario }}</span>
        </div>
    
    <button *ngIf="mostrarIconoCarrito" mat-icon-button [matBadge]="cantidadProductosEnCarrito" matBadgeColor="accent" matBadgePosition="below after" (click)="abrirCarrito()">
      <mat-icon>shopping_cart</mat-icon>
    </button>

    <button *ngIf="!estaLogeado()" mat-button (click)="navigateToLogin()">
      <mat-icon>login</mat-icon>
      Ingresar
    </button>
  
    <button *ngIf="estaLogeado()" mat-icon-button (click)="salir()">
      <mat-icon>logout</mat-icon>
    </button>
  
  </mat-toolbar>

  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
