<section>
    <mat-card class="info1">
      <mat-card-header>
        <mat-card-title class="titulo">QUIENES SOMOS</mat-card-title>
      </mat-card-header>
      &nbsp;&nbsp;
      <img mat-card-image src="/assets/nosotros/nosotros.jpg" alt="Imagen de la empresa">
      &nbsp;&nbsp;
      <mat-card-content>
        <p>Somos una empresa apasionada por el bienestar de nuestras mascotas. Nos especializamos en la venta de una amplia gama de productos, desde alimentos de alta calidad y nutritivos hasta accesorios y ropa para mantener a tus mascotas felices y saludables. Nos esforzamos por ofrecer solo lo mejor para cada uno de los miembros de tu familia peluda.</p>
        <p>En nuestra tienda, encontrarás una gran variedad de marcas reconocidas y productos exclusivos que garantizan la satisfacción y el bienestar de tus mascotas. Estamos comprometidos a proporcionar un excelente servicio al cliente y a crear una experiencia de compra agradable y satisfactoria.</p>
      </mat-card-content>
    </mat-card>
  
    <mat-card class="info">
      <mat-card-header>
        <mat-card-title>Misión</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Nuestra misión es ser el lugar preferido por los dueños de mascotas en la región Constitucional del Callao para adquirir alimentos, accesorios y ropa de alta calidad. Nos comprometemos a proporcionar productos que promuevan la salud y el bienestar de las mascotas, y a ofrecer un servicio excepcional que supere las expectativas de nuestros clientes.</p>
        <p>Creemos firmemente en la importancia de una dieta adecuada y el enriquecimiento ambiental para las mascotas, por lo que seleccionamos cuidadosamente nuestros productos para asegurar que cumplan con los más altos estándares de calidad y nutrición.</p>
      </mat-card-content>
    </mat-card>
  
    <mat-card class="info">
      <mat-card-header>
        <mat-card-title>Visión</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Nuestra visión es convertirnos en líderes en la venta de productos para mascotas en la región Constitucional del Callao, reconocidos por nuestra calidad, diversidad de productos y compromiso con el bienestar animal. Aspiramos a ser un referente en el mercado de mascotas, conocido por nuestra dedicación a la excelencia y por nuestro papel en la promoción de una vida saludable y feliz para todas las mascotas.</p>
        <p>Queremos ser la tienda donde los dueños de mascotas puedan confiar plenamente, sabiendo que encontrarán productos de la mejor calidad y un equipo dispuesto a ayudarlos a elegir lo mejor para sus amigos peludos.</p>
      </mat-card-content>
    </mat-card>
  
    <mat-card class="info">
      <mat-card-header>
        <mat-card-title>Valores de nuestra empresa</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="rombo">
          <h3>Honestidad</h3>
          <p>Actuamos con transparencia y rectitud en todas nuestras interacciones con clientes y proveedores. Creemos que la confianza se construye con integridad y mantenemos la ética como un pilar fundamental en nuestras operaciones.</p>
        </div>
        <div class="rombo">
          <h3>Calidad</h3>
          <p>Nos esforzamos por ofrecer productos de la más alta calidad, seleccionados cuidadosamente para garantizar la seguridad y el bienestar de las mascotas. La excelencia en nuestros productos y servicios es nuestra prioridad.</p>
        </div>
        <div class="rombo">
          <h3>Compromiso</h3>
          <p>Estamos dedicados a mejorar la vida de las mascotas y sus dueños. Nuestro compromiso se refleja en nuestro esfuerzo continuo por proporcionar los mejores productos y servicios posibles.</p>
        </div>
      </mat-card-content>
    </mat-card>
  </section>