<div class="facturacion-container">
    <div class="facturacion-content">
      <div class="facturacion-datos">
        <h2>Datos de Facturación</h2>
        <form (ngSubmit)="confirmarPedido()">
          <div class="form-section">
            <label for="nombres">Nombres</label>
            <input type="text" id="nombres" [(ngModel)]="datosPersonales.nombres" name="nombres" required>
          </div>
          <div class="form-section">
            <label for="apellidos">Apellidos</label>
            <input type="text" id="apellidos" [(ngModel)]="datosPersonales.apellidos" name="apellidos" required>
          </div>
          <div class="form-section">
            <label for="direccion">Dirección</label>
            <input type="text" id="direccion" [(ngModel)]="datosPersonales.direccion" name="direccion" required>
          </div>
  
          <div class="form-section">
            <label for="correo">Correo Electrónico</label>
            <input type="correo" id="correo" [(ngModel)]="datosPersonales.correo" name="correo" required>
          </div>
  
          <div class="form-section">
            <label for="telefono">Teléfono</label>
            <input type="tel" id="telefono" [(ngModel)]="datosPersonales.telefono" name="telefono" required>
          </div>
          <div class="form-section">
            <label for="dni">DNI</label>
            <input type="tel" id="dni" [(ngModel)]="datosPersonales.dni" name="dni" required>
          </div>
  
          <h3>Detalles de Pago</h3>

          <div class="form-section">
            <label for="tipoPago">Tipo de Pago</label>
            <select id="tipoPago" [(ngModel)]="tipoPagoSeleccionado" name="tipoPago" required>
              <option value="" disabled selected>Seleccione Tipo de Pago</option>
              <option *ngFor="let tipoPago of tiposPago" [ngValue]="tipoPago.idtipopago">{{ tipoPago.descripcion }}</option>
            </select>
          </div>
          
          
          <div class="form-section">
            <label for="numerotarjeta">Número de Tarjeta</label>
            <input type="text" id="numerotarjeta" [(ngModel)]="datosPago.numerotarjeta" name="numerotarjeta" required>
          </div>
  
          <div class="form-section">
            <mat-form-field appearance="fill">
              <mat-label>Fecha de Expiración</mat-label>
              <input matInput [matDatepicker]="picker" placeholder="Selecciona la fecha" [(ngModel)]="datosPago.fechavencimiento" name="fechavencimiento" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
  
          <div class="form-section">
            <label for="cvv">CVV</label>
            <input type="text" id="cvv" [(ngModel)]="datosPago.cvv" name="cvv" required>
          </div>
  
        </form>
      </div>
  
      <div class="facturacion-resumen">
        <h2>Resumen del Pedido</h2>
        <table>
          <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
          </tr>
          <tr *ngFor="let producto of productos">
            <td>{{ producto.nombre }}</td>
            <td>S/. {{ producto.preciopublico }}</td>
            <td>{{ producto.cantidad }}</td>
            <td>S/. {{ calcularSubtotal(producto) | number:'1.2-2' }}</td>
          </tr>
        </table>
        <div class="resumen-totales">
          <div class="subtotal">
            <p>Subtotal:</p>
            <p>S/. {{ calcularSubtotalSinTransporte() | number:'1.2-2' }}</p>
          </div>
          <div class="transporte">
            <p>Costo de Transporte:</p>
            <p>S/. {{ costoTransporte | number:'1.2-2' }}</p>
          </div>
          <div class="total">
            <p>Total:</p>
            <p>S/. {{ total | number:'1.2-2' }}</p>
          </div>
        </div>
  
        <div class="action-buttons">
          <button mat-raised-button color="primary" (click)="regresar()" class="regresar">Regresar al Carrito</button>
          <button type="submit" mat-raised-button color="primary" (click)="confirmarPedido()">Confirmar Pedido</button>
        </div>
      </div>
    </div>
  </div>
  