<div class="table-header">
  <h2 class="os-title">LISTADO DE USUARIOS</h2>
  <button class="ob-button" mat-raised-button color="primary" (click)="onNavigateCreatePost()">Nuevo Usuario</button>
</div>

<div class="table-container">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Columnas de la tabla -->
    <ng-container matColumnDef="idusuario">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let row">{{ row.idusuario }}</td>
    </ng-container>
    <ng-container matColumnDef="nomusuario">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>USUARIO</th>
      <td mat-cell *matCellDef="let row">{{ row.nomusuario }}</td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>EMAIL</th>
      <td mat-cell *matCellDef="let row">{{ row.email }}</td>
    </ng-container>
    <ng-container matColumnDef="nombres">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRES</th>
      <td mat-cell *matCellDef="let row">{{ row.nombres }}</td>
    </ng-container>
    <ng-container matColumnDef="apellidos">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>APELLIDOS</th>
      <td mat-cell *matCellDef="let row">{{ row.apellidos }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>ACCIONES</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button matTooltip="Editar" (click)="onNavigatePostDetail(row.idusuario)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<mat-paginator [pageSizeOptions]="[10, 20, 30, 50]" showFirstLastButtons></mat-paginator>

